@font-face {
  font-family: 'StyreneA-Light';
  font-weight: normal;
  font-style: normal;
  src: font-url('StyreneA-Light.woff') format('woff');
}
@font-face {
  font-family: 'StyreneA-Bold';
  font-weight: normal;
  font-style: normal;
  src: font-url('StyreneA-Bold.woff') format('woff');
}
@font-face {
  font-family: 'GT-Walsheim-Regular';
  font-weight: normal;
  font-style: normal;
  src: font-url('GT-Walsheim-Regular.woff') format('woff');
}
@font-face {
  font-family: 'GT-Walsheim-Medium';
  font-weight: normal;
  font-style: normal;
  src: font-url('GT-Walsheim-Medium.woff') format('woff');
}
@font-face {
  font-family: 'GT-Walsheim-Bold';
  src: font-url('GT-Walsheim-Bold.woff') format('woff');
}

@mixin StyreneA-Light {
  font-family: $styrene-light;
  font-weight: normal;
}

@mixin StyreneA-Bold {
  font-family: $styrene-bold;
  font-weight: normal;
}

@mixin GT-Walsheim-Regular {
  font-family: $gt-walsheim-regular;
  font-weight: normal;
}

@mixin GT-Walsheim-Medium {
  font-family: $gt-walsheim-medium;
  font-weight: normal;
}

@mixin GT-Walsheim-Bold {
  font-family: $gt-walsheim-bold;
  font-weight: normal;
}
